.title {
  font-size: 20px;
  font-weight: bold;
  color: #0b2e13; /* Green color */
  text-align: center;
  margin: 70px 0 30px;
  text-transform: uppercase;
}

.title h2 {
  font-size: 32px;
  color: #084518;
  margin-top: 5px;
  text-transform: none;
}