@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
        background: #f5f5f5;
         margin: 0;
         padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}

.btn{
    background: #bbfab8;
    color: #060101;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 31px;
    cursor: pointer;
    border: 0;
    outline:0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
   } 

.dark-btn{
    background: #10471d; /* Green background */
    color: #c8fac6;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 31px;
    cursor: pointer;
    border: 0;
    outline:0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1200px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .btn, .dark-btn {
        padding: 14px 22px;
    }
}

.hero-note {
  color: rgba(128, 128, 128, 0.6); /* Gray with 60% opacity for a faded look */
  font-weight: 500;                /* Slightly bold for subtle emphasis */
  font-size: 1.5rem;               /* Slightly larger for readability */
  transition: color 0.3s ease;     /* Smooth transition if you want a hover effect */
}
.hero-note:hover {
  color: rgba(101, 87, 87, 0.9); /* Darker gray on hover */
}