.contact {
    display: flex;
    margin: 40px auto;
    max-width: 90%;
    align-content: center;
    justify-content: space-between;
}

.contact-col {
    flex-basis: 48%;
    color: #676767;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    /* reduce spacing below the whole block */
}

.title h5 {
    margin: 0;
    /* removes default spacing */
}

.title h3 {
    margin: 5px 0 10px 0;
    /* reduce bottom gap */
}

.contact-col h3 {
    font-size: 24px;
    color: #073d15;
    /* Dark green */
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col p {
    max-width: 450px;
    list-style: 0.3;
}

.contact-col ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    display: flex;
    align-items: center;
    gap: 8px;
    /* space between icon and text */
    margin-bottom: 0.8rem;
    font-size: 0.95rem;
}

.contact-info i {
    color: #06721f;
    /* green icons */
    font-size: 1rem;
}

.contact form input,
.contact form textarea {
    display: block;
    width: 100%;
    background: #caf4cc;
    Padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5PX;
    resize: none;
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }
    .contact-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .contact form input,
    .contact form textarea {
        font-size: 16px;
    }
    .btn.dark-btn {
        width: 100%;
        padding: 14px;
        font-size: 16px;
    }
}

.contact {
    padding: 20px;
}

@media (max-width: 480px) {
    .contact-col h3 {
        font-size: 20px;
    }
    .contact-col p {
        font-size: 14px;
    }
}